<div id="sub-menu">
  <ul>
    <li class="<%= 'selected' if %w( index ).include?(action_name) %>"><%= link_to('Manage Attendees', attendees_path) %></li>
    <li class="<%= 'selected' if %w( new create ).include?(action_name) %>"><%= link_to('New Attendee', new_attendee_path) %></li>
  </ul>
</div>
