Dear <%= @affiliate.first_name %>,

<p>
  <strong>Congratulations on becoming a Sales Agent or Joint Venture Partner!</strong><br/>
  <br/>  
  You have been given access to the Innovative Investors' Prospect Relationship Management System (PRM). 
  If you hear us referring to "prime" that’s what we mean. Sometimes we may even refer to it as the CRM...
  just know it's all the same thing.<br/>
  <br/>
  This is where you can now register attendees and guests to attend our Live Events and Trainings.<br/>
  <br/>
  The best part of course is, you'll get credit for their qualified purchases when they attend.<br/>
  <br/>
  To access the Prime System, simply login at http://eventregistration.theinnovativeinvestors.com.
  <br/>
  <strong>Email: <%= @affiliate.email %></strong><br/>
  <strong>Password: <%= @affiliate.password %></strong><br/>
  <br/>
  You can also access this link from the Training Center by visiting http://www.theinnovativeinvestors.com/affiliates/training
</p>

<p>
  We want to hear from you. Don't hesitate to contact us if you have any questions.<br/>
  <br/>
  Live abundantly, <br/>
  The Innovative Investor Team
</p>
