<div id="sub-menu">
  <ul>
    <li class="<%= 'selected' if %w( index ).include?(action_name) %>"><%= link_to('Manage Invitations', invitations_path) %></li>
    <% if current_user.type == "User" %>
      <li class="<%= 'selected' if %w( new create ).include?(action_name) %>"><%= link_to('New Invitation', new_invitation_path) %></li>
    <% end %>
  </ul>
</div>
