<% site_title("Infusion API | Create Sales Agent") -%>

<h1>Infusion API: <span>Create Sales Agent</span></h1>
<p>
  This API method will accept a POST from InfusionSoft containing the information for a newly registered Sales Agent
</p>