<div id="sub-menu">
  <ul>
    <li class="<%= 'selected' if %w( index ).include?(action_name) %>"><%= link_to('Available Sources', sources_path) %></li>
    <% if current_user.type == "User" %>
      <li class="<%= 'selected' if %w( new create ).include?(action_name) %>"><%= link_to('New Source', new_source_path) %></li>
    <% end %>
  </ul>
</div>
